<launch>
<group ns="R_bebop2">   
    <node name="fake_driver" pkg="rotors_gazebo" type="fake_driver" output="screen" >
      <!--<remap from="~odom" to="odometry_sensor1/odometry" />-->
      <rosparam command="load" file="$(find rotors_gazebo)/resource/logitech_f710.yaml" />
      <remap from="~/bebop/cmd_vel" to="command_velocity"/>
      <remap from="~joy"  to="joy" />
      <remap from="~odom" to="ground_truth/odometry" />
      <remap from="~command/trajectory" to="command/trajectory" />
      <remap from="~cmd_vel" to="cmd_vel"/>
      <remap from="~takeoff" to="takeoff"/>
      <remap from="~land" to="land"/>
      <remap from="~reset" to="reset"/>
      <rosparam> 
        max_vel: 3.0
        max_yawrate: 0.66
      </rosparam>
    </node>
</group>
</launch>
